.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skeleton{
    width: 80%;
    height: 94vh;
    margin: 30px 30px 0 30px;
    position: relative;
}
.lines{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.lines .line-1{
    position: absolute;
    background-color: #6d6d6d;
    width: 50%;
    height: 15px;
    border-radius: 4px;
    margin-top: 55px;
}
 .lines .line-2{
    position: absolute;
    background-color: #6d6d6d;
    width: 25%;
    height: 7px;
    border-radius: 4px;
    margin-top: 100px;
}
.lines .line-3{
    position: absolute;
    background-color: #6d6d6d;
    width: 65%;
    height: 400px;
    border-radius: 10px;
    margin-top: 550px;
}
.lines .line-4{
    position: absolute;
    background-color: #6d6d6d;
    width: 65%;
    height: 35px;
    border-radius: 10px;
    margin-top: 994px;
}
.lines .line-5{
    position: absolute;
    background-color: #6d6d6d;
    width: 50%;
    height: 15px;
    border-radius: 4px;
    margin-top: 1095px;
}
 .lines .line-6{
    position: absolute;
    background-color: #6d6d6d;
    width: 25%;
    height: 7px;
    border-radius: 4px;
    margin-top: 1145px;
}
.lines .line-7{
    position: absolute;
    background-color: #6d6d6d;
    width: 65%;
    height: 35px;
    border-radius: 8px;
    margin-top: 1211px;
}
.line-1::before,
.line-2::before,
.line-3::before,
.line-4::before,
.line-5::before,
.line-6::before,
.line-7::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, #d9d9dd 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 100%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        animation: shimmer 1.5s linear infinite;
}
.line-3::before,
.line-4::before,
.line-5::before
{
    animation-delay: 0.4s;
}
@keyframes shimmer{
    0%{
        background-position: -450px 0;
        opacity: 0.3;
    }
    100%{
        background-position: 450px 0;
        opacity: 0;
    }
}